<!doctype html>
<html lang="hu">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BALAZSKICKS Rendelés Visszaigazolás</title>
  <style>
    body, table, td, p, a, span, h2, h3, h4, strong {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }
  </style>
</head>
<body style="margin:0;padding:0;width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#ffffff;">
  <center style="width:100%;background-color:#ffffff;">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse;max-width:560px;margin:0 auto;">
      <tr>
        <td style="padding:0 10px;margin:0;">
          
          <table style="width:100%;border-spacing:0;border-collapse:collapse;margin:40px 0 20px;">
            <tr>
              <td>
                <img src="https://cdn.shopify.com/s/files/1/0515/4272/0676/files/bk_-_weboldal_logo_-_fekete_972911ec-b78e-4387-b9ce-f060fa4231fc_x320.png?v=1759826053" alt="BALAZSKICKS" width="200" style="display:block;border:none;">
              </td>
              <td align="right" style="text-transform:uppercase;font-size:14px;color:#999999;">
                <span style="font-size:16px;">Rendelés: #45198263</span>
              </td>
            </tr>
          </table>

          <table style="width:100%;border-spacing:0;border-collapse:collapse;">
            <tr>
              <td style="padding-bottom:40px;">
                <h2 style="font-weight:normal;font-size:24px;margin:0 0 10px;color:#000000;">Köszönjük, hogy nálunk vásároltál!</h2>
                <p style="line-height:150%;font-size:16px;margin:0;color:#777777;">
                  Kedves {customer_name}! Előkészítjük szállításra a megrendelt termékeket. Értesítünk majd, ha feladtuk a küldeményt.
                </p>
                
                <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:20px;">
                  <tr>
                    <td>
                      <table style="border-spacing:0;border-collapse:collapse;float:left;margin-right:15px;">
                        <tr>
                          <td align="center" bgcolor="#000000" style="border-radius:4px;">
                            <a href="https://balazskicks.com/" style="font-size:16px;text-decoration:none;display:block;padding:20px 25px;color:#ffffff;" target="_blank">Rendelés megtekintése</a>
                          </td>
                        </tr>
                      </table>
                      <table style="border-spacing:0;border-collapse:collapse;margin-top:19px;">
                        <tr>
                          <td align="center" style="border-radius:4px;">
                            <span style="color:#000000;font-size:16px;">vagy: </span><a href="https://balazskicks.com/" style="font-size:16px;text-decoration:none;color:#000000;" target="_blank">Webáruház megnyitása</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table style="width:100%;border-spacing:0;border-collapse:collapse;">
            <tr>
              <td style="padding:40px 0;">
                <h3 style="font-weight:normal;font-size:20px;margin:0 0 25px;color:#000000;">Rendelés összegzése</h3>
                
                <table style="width:100%;border-spacing:0;border-collapse:collapse;">
                  <tr>
                    <td style="padding-bottom:15px;border-bottom:1px solid #e5e5e5;">
                      <table style="width:100%;border-spacing:0;border-collapse:collapse;">
                        <tr>
                          <td width="75" valign="middle">
                            <img src="{image_url}" align="left" width="60" style="margin-right:15px;border-radius:8px;border:1px solid #e5e5e5;display:block;">
                          </td>
                          <td valign="middle" style="width:100%;">
                            <span style="font-size:16px;font-weight:600;line-height:1.4;color:#555555;">{product_name} &times; 1</span><br>
                            <span style="font-size:14px;font-weight:400;color:#999999;">Méret: {product_size}</span>
                          </td>
                          <td valign="middle" style="white-space:nowrap;" align="right">
                            <p style="line-height:150%;font-size:16px;font-weight:600;margin:0;color:#555555;">{product_price} Ft</p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:15px;">
                  <tr>
                    <td style="width:40%;"></td>
                    <td>
                      <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:20px;">
                        <tr>
                          <td style="padding:2px 0;"><span style="font-size:16px;color:#777777;">Részösszeg</span></td>
                          <td style="padding:2px 0;" align="right"><strong style="font-size:16px;color:#555555;">{subtotal_price}</strong></td>
                        </tr>
                        <tr>
                          <td style="padding:2px 0;"><span style="font-size:16px;color:#777777;">Szállítás</span></td>
                          <td style="padding:2px 0;" align="right"><strong style="font-size:16px;color:#555555;">{shipping_cost}</strong></td>
                        </tr>
                        <tr>
                          <td style="padding:2px 0;"><span style="font-size:16px;color:#777777;">Adók</span></td>
                          <td style="padding:2px 0;" align="right"><strong style="font-size:16px;color:#555555;">0</strong></td>
                        </tr>
                      </table>

                      <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:20px;border-top:2px solid #e5e5e5;">
                        <tr>
                          <td style="padding:20px 0 0;"><span style="font-size:16px;color:#777777;">Végösszeg</span></td>
                          <td style="padding:20px 0 0;" align="right"><strong style="font-size:24px;color:#555555;">{total_price}</strong></td>
                        </tr>
                        <tr>
                          <td style="padding:20px 0 0;"><span style="font-size:16px;color:#777777;">Ma fizetett teljes összeg</span></td>
                          <td style="padding:20px 0 0;" align="right"><strong style="font-size:16px;color:#555555;">0 Ft</strong></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>

          <table style="width:100%;border-spacing:0;border-collapse:collapse;">
            <tr>
              <td style="padding:40px 0;">
                <h3 style="font-weight:normal;font-size:20px;margin:0 0 25px;color:#000000;">Vásárló adatai</h3>
                
                <table style="width:100%;border-spacing:0;border-collapse:collapse;">
                  <tr>
                    <td style="padding-bottom:40px;width:50%;" valign="top">
                      <h4 style="font-weight:500;font-size:16px;margin:0 0 5px;color:#555555;">Szállítási cím</h4>
                      <p style="line-height:150%;font-size:16px;margin:0;color:#777777;">
                        {customer_name}<br>{address}<br>{city}<br>{postal_code}<br>{country}
                      </p>
                    </td>
                    <td style="padding-bottom:40px;width:50%;" valign="top">
                      <h4 style="font-weight:500;font-size:16px;margin:0 0 5px;color:#555555;">Számlázási cím</h4>
                      <p style="line-height:150%;font-size:16px;margin:0;color:#777777;">
                        {customer_name}<br>{address}<br>{city}<br>{postal_code}<br>{country}
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:40px;width:50%;" valign="top">
                      <h4 style="font-weight:500;font-size:16px;margin:0 0 5px;color:#555555;">Fizetés</h4>
                      <p style="line-height:150%;font-size:16px;margin:0;color:#777777;">Utánvét</p>
                    </td>
                    <td style="padding-bottom:40px;width:50%;" valign="top">
                      <h4 style="font-weight:500;font-size:16px;margin:0 0 5px;color:#555555;">Szállítási mód</h4>
                      <p style="line-height:150%;font-size:16px;margin:0;color:#777777;">GLS</p>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>

          <table style="width:100%;border-spacing:0;border-collapse:collapse;border-top:1px solid #e5e5e5;">
            <tr>
              <td style="padding:35px 0;">
                <p style="line-height:150%;font-size:14px;margin:0;color:#999999;text-align:center;">
                  Ha kérdésed van, válaszolj erre az e-mailre, vagy írj nekünk erre az e-mail-címre: <a href="mailto:info@balazskicks.com" style="color:#000000;text-decoration:none;" target="_blank">info@balazskicks.com</a>.
                </p>
              </td>
            </tr>
          </table>

        </td>
      </tr>
    </table>
  </center>
</body>
</html>