<!doctype html>
<html lang="hu">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OnSize</title>
</head>
<body style="margin:0;padding:0;width:100%!important;background-color:#ffffff;">
  <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="width:100%;border-spacing:0;border-collapse:collapse;background-color:#ffffff;">
    <tr>
      <td align="center" style="padding:0 10px;">
        <table role="presentation" width="560" cellspacing="0" cellpadding="0" border="0" style="width:560px;max-width:560px;margin:0 auto;border-spacing:0;border-collapse:collapse;">
          <tr>
            <td style="padding:0;">
              
              <table style="width:100%;border-spacing:0;border-collapse:collapse;margin:40px 0 20px">
                <tbody><tr>
                  <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                    <center>
                      <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
                        <tbody><tr>
                          <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                            <table style="width:100%;border-spacing:0;border-collapse:collapse">
                              <tbody><tr>
                                <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                                  <img src="https://cdn.shopify.com/s/files/1/0529/9116/4605/email_settings/instalogo.png?v=19458" alt="OnSize" width="180" style="display:block; border:none; outline:none; text-decoration:none;">
                                </td>
                                <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;text-transform:uppercase;font-size:14px;color:#999" align="right">
                                  <span style="font-size:16px">
                                    Rendelés: 2026#64513562
                                  </span>
                                </td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>
                    </center>
                  </td>
                </tr>
              </tbody></table>

              <table style="width:100%;border-spacing:0;border-collapse:collapse">
                <tbody><tr>
                  <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding-bottom:40px;border-width:0">
                    <center>
                      <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
                        <tbody><tr>
                          <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                            <h2 style="font-weight:normal;font-size:24px;margin:0 0 10px">Köszönjük, hogy nálunk vásároltál!</h2>
                            <p style="color:#777;line-height:150%;font-size:16px;margin:0">
                              Kedves {customer_name}! Előkészítjük szállításra a megrendelésed. Értesítünk majd, ha feladtuk a küldeményt, várhatóan 2-14 munkanapon belül.
                            </p>
                            <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:20px">
                              <tbody>
                                <tr>
                                  <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;line-height:0"> </td>
                                </tr>
                                <tr>
                                  <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                                    <table style="border-spacing:0;border-collapse:collapse;float:left;margin-right:15px">
                                      <tbody><tr>
                                        <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;border-radius:4px" align="center" bgcolor="#1990C6"><a href="https://onsize.eu/" style="font-size:16px;text-decoration:none;display:block;color:#fff;padding:20px 25px" rel="noreferrer" target="_blank">Rendelés megtekintése</a></td>
                                      </tr>
                                    </tbody></table>
                                    <table style="border-spacing:0;border-collapse:collapse;margin-top:19px">
                                      <tbody><tr>
                                        <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;border-radius:4px" align="center">vagy <a href="https://onsize.eu/" style="font-size:16px;text-decoration:none;color:#1990c6" rel="noreferrer" target="_blank">Webáruház megnyitása</a>
                                        </td>
                                      </tr>
                                    </tbody></table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody></table>
                    </center>
                  </td>
                </tr>
              </tbody></table>

              <table style="width:100%;border-spacing:0;border-collapse:collapse">
                <tbody><tr>
                  <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:40px 0">
                    <center>
                      <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
                        <tbody><tr>
                          <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                            <h3 style="font-weight:normal;font-size:20px;margin:0 0 25px">Rendelés összegzése</h3>
                          </td>
                        </tr>
                      </tbody></table>
                      <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
                        <tbody><tr>
                          <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                            
                            <table style="width:100%;border-spacing:0;border-collapse:collapse">
                              <tbody><tr style="width:100%;border-top-width:1px;border-top-color:#e5e5e5;border-top-style:none">
                                <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                                  <table style="border-spacing:0;border-collapse:collapse;width:100%;">
                                    <tbody><tr>
                                      <td width="75" valign="top">
                                        <img src="{image_url}" align="left" width="60" style="margin-right:15px;border-radius:8px;border:1px solid #e5e5e5">
                                      </td>
                                      <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;width:100%" valign="top">
                                        <span style="font-size:16px;font-weight:600;line-height:1.4;color:#555">{product_name}</span><br>
                                        <span style="font-size:14px;color:#999;font-weight:400">{product_size}</span><br>
                                      </td>
                                      <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;white-space:nowrap" align="right" valign="top">
                                        <p style="color:#555;line-height:150%;font-size:16px;font-weight:600;margin:4px 0 0 15px">{product_price} Ft</p>
                                      </td>
                                    </tr></tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody></table>

                            <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:15px;border-top-width:1px;border-top-color:#e5e5e5;border-top-style:solid">
                              <tbody><tr>
                                <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;width:40%"></td>
                                <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                                  <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:20px">
                                    <tbody>
                                      <tr>
                                        <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:2px 0">
                                          <p style="color:#777;line-height:1.2em;font-size:16px;margin:4px 0 0"><span style="font-size:16px">Részösszeg</span></p>
                                        </td>
                                        <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:2px 0" align="right">
                                          <strong style="font-size:16px;color:#555">{product_price} Ft</strong>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:2px 0">
                                          <p style="color:#777;line-height:1.2em;font-size:16px;margin:4px 0 0"><span style="font-size:16px">Szállítás</span></p>
                                        </td>
                                        <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:2px 0" align="right">
                                          <strong style="font-size:16px;color:#555">{shipping_cost} Ft</strong>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:2px 0">
                                          <p style="color:#777;line-height:1.2em;font-size:16px;margin:4px 0 0"><span style="font-size:16px">Adók</span></p>
                                        </td>
                                        <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:2px 0" align="right">
                                          <strong style="font-size:16px;color:#555">0 Ft</strong>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  
                                  <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:20px;border-top-width:2px;border-top-color:#e5e5e5;border-top-style:solid">
                                    <tbody>
                                      <tr>
                                        <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:20px 0 0">
                                          <p style="color:#777;line-height:1.2em;font-size:16px;margin:4px 0 0"><span style="font-size:16px">Végösszeg</span></p>
                                        </td>
                                        <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:20px 0 0" align="right">
                                          <strong style="font-size:24px;color:#555">{total_price} Ft</strong>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>

                                </td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>
                    </center>
                  </td>
                </tr>
              </tbody></table>

              <table style="width:100%;border-spacing:0;border-collapse:collapse">
                <tbody><tr>
                  <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:40px 0">
                    <center>
                      <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
                        <tbody><tr>
                          <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                            <h3 style="font-weight:normal;font-size:20px;margin:0 0 25px">Vásárló adatai</h3>
                          </td>
                        </tr>
                      </tbody></table>
                      
                      <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
                        <tbody><tr>
                          <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                            <table style="width:100%;border-spacing:0;border-collapse:collapse">
                              <tbody><tr>
                                <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding-bottom:40px;width:50%" valign="top">
                                  <h4 style="font-weight:500;font-size:16px;color:#555;margin:0 0 5px">Szállítási cím</h4>
                                  <p style="color:#777;line-height:150%;font-size:16px;margin:0">{customer_name}<br>{address}<br>{city}<br>{postal_code}<br>{country}</p>
                                </td>
                                <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding-bottom:40px;width:50%" valign="top">
                                  <h4 style="font-weight:500;font-size:16px;color:#555;margin:0 0 5px">Számlázási cím</h4>
                                  <p style="color:#777;line-height:150%;font-size:16px;margin:0">{customer_name}<br>{address}<br>{city}<br>{postal_code}<br>{country}</p>
                                </td>
                              </tr>
                            </tbody></table>
                            
                            <table style="width:100%;border-spacing:0;border-collapse:collapse">
                              <tbody><tr>
                                <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding-bottom:40px;width:50%" valign="top">
                                  <h4 style="font-weight:500;font-size:16px;color:#555;margin:0 0 5px">Szállítási mód</h4>
                                  <p style="color:#777;line-height:150%;font-size:16px;margin:0">GLS</p>
                                </td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>
                    </center>
                  </td>
                </tr>
              </tbody></table>

              <table style="width:100%;border-spacing:0;border-collapse:collapse;border-top-width:1px;border-top-color:#e5e5e5;border-top-style:solid">
                <tbody><tr>
                  <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;padding:35px 0">
                    <center>
                      <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
                        <tbody><tr>
                          <td style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">
                            <p style="color:#999;line-height:150%;font-size:14px;margin:0">Ha kérdésed van, válaszolj erre az e-mailre, vagy írj nekünk erre az e-mail-címre: <a href="mailto:support@onsize.eu" style="font-size:14px;text-decoration:none;color:#1990c6" rel="noreferrer" target="_blank">support@onsize.eu</a>.</p>
                            <p style="color:#999;line-height:150%;font-size:14px;margin:15px 0 0">A cipők használatáról, és a jótállás feltételeiről <a href="https://onsize.eu/" style="font-size:14px;text-decoration:none;color:#1990c6" rel="noreferrer" target="_blank">itt</a> olvashatsz részletesebben.</p>
                          </td>
                        </tr>
                      </tbody></table>
                    </center>
                  </td>
                </tr>
              </tbody></table>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>